<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>JSP-Base</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>com.ztiany.jspbase.servlet.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>I18NServlet</servlet-name>
        <servlet-class>com.ztiany.jspbase.servlet.I18NServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/servlet/ErrorServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>I18NServlet</servlet-name>
        <url-pattern>/servlet/I18NServlet</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>


    <context-param>
        <param-name>code</param-name>
        <param-value>19901005</param-value>
    </context-param>

</web-app>